figs/*
data/*
output/*
*/figs/*
logs/*
*/*.log
amplicon/*cache/
analysis/figs/*
analysis/*cache/
*.html
*/*.html
.Rproj.user
metatranscriptomics/pyscripts_edited/old
analysis/*/*.csv
analysis/*/*.rds
analysis/*/*.rda
analysis/*/*.RData
analysis/*/*.Rhistory

