figs/*
data/*
output/*
*/figs/*
logs/*
*/*.log
metatranscriptomics/pyscripts_edited/old
amplicon/*cache/
analysis/figs/*
analysis/*cache/
analysis/*/results/*
analysis/*/figs/*
*.html
*/*.html
.Rproj.user
*.Rproj
**/*.Rhistory
**/*.err
**/*.out
