data/*
**/output/*
**/figs/*
**/logs/*
metatranscriptomics/pyscripts_edited/old
amplicon/*cache/
analysis/figs/*
analysis/*cache/
analysis/*/results/*
analysis/*/figs/*
.Rproj.user
*.Rproj
**/*.Rhistory
**/*.html
**/*.log
**/*.err
**/*.out
**/fella_data
**/*.rda
tsne_plots/*
